@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    * {
        @apply text-secondary-black transition-all duration-300;
    }

    i {
        @apply stroke-secondary-black;
    }
}

.swiper,
.swiper-container {
    margin: 0 !important;
}
